.slider{
    width:auto;
    height: 90%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-content: center;
}
.slide {
    position: absolute;
    border: 1px solid #ddd;
    padding: 5px;
    top: 20;
    width: 100%;
    height: 70%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    display: flex;
}

@media screen and (min-width: 60px){
    .slide img{
        width: 100%;
        height: 100%;
    }
    .slide img{
        height: 100%;
    }
}
.content{
    position: absolute;
    padding: 2rem;
    top:2rem;
    left:0.4rem;
    background-color: rgb(0,0,0,.3);
    opacity: 0;
    width: 50%;
    height: auto;
    animation: slide-up 1s ease .5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
@keyframes slide-up {
    0%{
        visibility: visible;
        top:23rem;
    }
    100%{
        visibility: visible;
        top:17rem;
    }
}
.content > *{
    font-size: 18px;
    text-align: left;
    color: #fff;
    margin-bottom: 1rem;
}

@media screen and(max-width: 60px) {
    .content{
        width: 50%;
    }

}
.current{
    opacity: 1;
    transform: translateX(0);
}
.current .content{
    opacity: 1;
}
.arrow{
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}
.arrow:hover{
    background-color: #fff;
    color: #777;
}
.next{
    top: 50%;
    right: 1.5rem;
}
.prev{
    top: 50%;
    left: 1.5rem;
}
hr{
    height: 2px;
    background: #fff;
    width:50%

}
.button{
    background-color: black;
}
.button:hover{
    cursor: pointer;
}