.layout-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(245,228,215,0.5);
    overflow: auto;
    padding-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-error-message {
    margin-left: 15px;
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
}

.form-title {
    margin-top: 15px;
    margin-left: 15px;
}

.form {
    margin-left: 15px;
    margin-right: 15px;
}

.form-button {
    margin-bottom: 15px;
    background-color: black;
}

.button-container {
    text-align: center;
}

.form-row {
    margin-top: 15px;
    font-size: 18px;
}

.pagination-container {
    display: flex;
    align-items: center;
}

.profile-card {
    font-family: serif;
    text-align: left;
    margin: 10% 25% 10% 25%;
    align-self: center;
    background-color: rgba(249,241,234,1);
    height: 100vh;
}